body{

    background-color: black;
    border: 2px solid green
    border-color: black;
    border-radius: 20px;
    color: white;
}

main-container {
  width: 500px;
  height: 200px;
  border: 2px green solid;

}

header {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid green
}


* {box-sizing: 40px;

    border-box}

/* Container for skill bars */
.container {
    display: flex: right;
  width: 15%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: left; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 25%; background-color: #04AA6D;} /* Green */
.css {width: 25%; background-color: #2196F3;} /* Blue */
.js {width: 25%; background-color: #f44336;} /* Red */
.php {width: 25%; background-color: #808080;} /* Dark Grey */